version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: users_db
    volumes:
      - mongodb_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

#   app:
#     build:
#       context: .
#       dockerfile: Dockerfile
#     container_name: user-management-api
#     restart: unless-stopped
#     ports:
#       - "8000:8000"
#     environment:
#       MONGODB_URL: mongodb://mongodb:27017
#       DATABASE_NAME: users_db
#     depends_on:
#       mongodb:
#         condition: service_healthy
#     networks:
#       - app-network

volumes:
  mongodb_data:
    driver: local

# networks:
#   app-network:
#     driver: bridge
